body, input, button {
	font-family: 'SofiaProBold', "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

button {
	border: none;
	padding: 5px 10px 0 10px;
	line-height: 20px;
	font-weight: bold;
	&:hover {
		cursor: pointer;
	}
	&.add-ingredient {
		background: aquamarine;
	}
	&.remove {
		background: none;
		font-size: 18px;
		margin-left: 10px;
		&:hover {
			background: lightgray;
		}
	}
}

.list {
	input {
		border: none;
		border-bottom: 1px dashed #aaa;
		margin-right: 0px;
		margin-left: -3px;
		line-height: 20px;
		padding: 5px 5px 0 5px;
		margin-bottom: 8px;
		&[type='checkbox'] {
			margin-right: 10px;
		}
		&:focus {
			outline: none;
		}
		&.quantity {
			// background-color: lightgrey;
			width: 30px;
		}
		&.content {
			// background-color: lightgrey;
			width: 300px;
		}
		&.measurement {
			// background-color: lightgrey;
			width: 75px;
		}
	}
	.empty {
		font-style: italic;
	}
	.strike {
		text-decoration: line-through;
	}
}
