body {
	font-family: 'SofiaProBold', "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.list {
	button.add-ingredient {
		border: none;
		background: aquamarine;
		padding: 5px 10px 0 10px;
		line-height: 20px;
		font-weight: bold;
		&:hover {
			cursor: pointer;
		}
	}
	input {
		border: none;
		border-bottom: 1px dashed #aaa;
		margin-right: 0px;
		margin-left: -3px;
		line-height: 20px;
		padding: 5px 5px 0 5px;
		margin-bottom: 8px;
		&:focus {
			outline: none;
		}
		&.quantity {
			// background-color: lightgrey;
			width: 30px;
		}
		&.content {
			// background-color: lightgrey;
			width: 300px;
		}
		&.measurement {
			// background-color: lightgrey;
			width: 75px;
		}
	}
	.empty {
		font-style: italic;
	}
}